.pre-text {
    white-space: pre-wrap;

}



body{
	background: #f1f2f3;
}

.wrapper{
	width: 900px;
	margin: 0 auto;
}

h1{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.content{
	padding: 15px 20px;
	background: #fff;
	border: 2px solid #777;
	border-radius: 5px;
	background-clip: padding-box;
}