<!DOCTYPE html>
<html lang="en">
<head>
    <title>A page for simple Shaney Markov</title>
    <link rel="stylesheet" href="static/stylesheets/lib/bootstrap.css" />
    <link rel="stylesheet" href="static/stylesheets/main.css" />

</head>
<body>
    <div class="wrapper">
        <h1>Welcome to Shaney</h1>
        <div class="content">
            <form method="POST" action="/">
                {% if training_text %}
                <div class="alert alert-info">
                    You have successfully input training text! ;))
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Please select a category
                            </label>
                            <select name="categories" class="form-control" id="categories">
                                <option value="">--Select a category--</option>
                                {% for category in categories %}
                                <option value="{{category.get_id()}}">{{category.get_label()}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Or create a new category
                            </label>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" name="category" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" name="submit_btn" class="btn btn-default" value="Create Category" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Upload Training Text
                            </label>
                            <textarea name="training_text" rows="3" class="form-control"></textarea>
                            <br>
                            <input type="submit" name="submit_btn" value="Input training text" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Enter the text you want to begin with
                            </label>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" name="pretext" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" name="submit_btn" class="btn btn-default" value="Generate Text!" />
                                </div>
                            </div>
                        </div>
                        {%if gen_text %}
                        <div class="pre-text">
                            <div>
                                <b>Result</b>
                            </div>
                            <blockquote>
                                <p>{{ gen_text }}</p>
                            </blockquote>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('categories').value = "{{entry_category}}";
    </script>

</body>
